<div class="comment">
  <a href="#" class="avatar">
    <img alt="User's avatar." src="
    <% if(typeof comment != 'undefined'){ %>
      <%= comment.author.avatar %>
    <% } %>
    ">
  </a>
  <div class="content dropdown-hover">
    <a href="#" class="author">
      <% if(typeof comment != 'undefined'){ %>
        <%= comment.author.username %>
      <% } %>
    </a>
    <span class="date">
      <% if(typeof comment != 'undefined'){ %>
        <%= comment.date %>
      <% } %>
    </span>           
    <% if((typeof comment === 'undefined') || (currentUser && comment.author.id.equals(currentUser._id))){ %>
      <div class="dropdown">
        <button class="dropdown-toggle">
          <i class="glyphicon icon-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button type="button" class="dropdown-item" href="#">Edytuj</button>
          <button type="button" class="dropdown-item button-DeleteComment" data="
            <% if(typeof comment != 'undefined'){ %>
              <%=comment._id %>
            <% } %>
          " class="dropdown-item" href="#">Usuń
          </button>
        </div>
      </div>
    <% } %>
    <div class='starsRated'>
      <% if(typeof comment != 'undefined'){ %>
        <% for(var i=0; i<comment.rating; i++){ %>
          <span>&#9733;</span>
        <% } %>
      <% } %>
    </div>
    <div class="text">
      <% if(typeof comment != 'undefined'){ %>
        <%= comment.text %>
      <% } %>    
    </div>
  </div>
</div>